<div class="inner-banner">
    <!-- <img
      src="assets/images/inner-bannerdot.png"
      class="inner-bannerdot"
      alt="image"
    /> -->
    <!-- <img
      src="assets/images/inner-bannerwave.png"
      class="inner-bannerwave"
      alt="image"
    /> -->
  
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center text-center"
      >
        <div class="col-md-6">
          <h2
            class="inner-banner-title wow fadeInLeft"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
          Leadership Info
          </h2>
          <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
                <li><a href="index.html">QBrainX Leadership</a></li>
                <li>Lakshman</li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>

  <section class="space-top space-extra-bottom pb-100">
    <div class="container">
        <div class="row gx-60 gy-2">
            <div class="col-lg-5 mb-30 wow fadeInUp" data-wow-delay="0.2s"><img src="assets/images/leadership-lakshman.png"
                    alt="image"></div>
            <div class="col-lg-7 col-xl-7 align-self-center mb-30">
                <div class="team-about">
                    <h3 class="team-name h4">Lakshman</h3><span class="team-degi">Cheif Excecutive Officer</span>
                    <p class="team-text pt-3">Entrepreneur & founder of a high-growth company providing Digital Transformation Services.<br><br>
                        Lakshman is the Chief Executive Officer of QBrainX. He is a former architect turned entrepreneur with passion of data, analytics, algorithms, and storytelling with data.​<br><br>
                        As a result of his commitment to actionable insights and excellence, he founded QBrainX. Learn how QBrainX can positively impact IT systems & business processes! He strive to deliver the finest possible solutions in all aspects of his work.
                    </p>

                    <div class="team-social"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    <!-- <div class="row">
                        <div class="col-sm-6">
                            <div class="team-media">
                                <div class="team-media__icon"><i class="fa fa-user"></i></div>
                                <div class="media-body"><span class="team-media__label">Experience</span>
                                    <h4 class="team-media__info">More Than 10 Years</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="team-media">
                                <div class="team-media__icon"><i class="fa fa-phone-alt"></i></div>
                                <div class="media-body"><span class="team-media__label">Phone</span>
                                    <h4 class="team-media__info"><a href="tel:+2562145821456">+(256) 21458-21456</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="team-media">
                                <div class="team-media__icon"><i class="fa fa-envelope"></i></div>
                                <div class="media-body"><span class="team-media__label">Email</span>
                                    <h4 class="team-media__info"><a
                                            href="mailto:info@example.com">info@example.com</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="team-media">
                                <div class="team-media__icon"><i class="fa fa-fax"></i></div>
                                <div class="media-body"><span class="team-media__label">Fax</span>
                                    <h4 class="team-media__info"><a href="fax:+358.555.1234567">+358.555.1234567</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="onepage-nav"><a href="#team-contact" class="vs-btn">Get In Touch<i
                                class="far fa-arrow-right"></i></a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>