<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>

    <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            Field Service Management
        </h2>
        </div>
    </div>
    </div>
</div>

<div class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>FSM Features</h3>
            </div>
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/fsm-service.jpg" width="100%">
                    <h2 class="pt-3">Our Field Service Management(FSM)</h2>
                    <p class="pt-3">QBrainX helps organizations match the tasks of their field agents based on the skills, assignments, inventory, and geographical territory.<br><br>Assisting field agents with task management, status, time management, and travel planning for all field-related activities.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Better Customer Visibility
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                Customers can book appointments and receive text message updates on worker location and arrival time.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Automated Work Assignment
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                Work assignments are automated based on availability, proximity, and the parts and skills required.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Source and Parts Management
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                Utilize ServiceNow Asset Management as a centralized repository for assets in stock and inventory control.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Exceptionally Innovative
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                FSM assigns tasks to agents based on their abilities, geographic territory assignments, and inventory availability.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Seemless Work Orders
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                Integrate with ServiceNow Connected Operations, Customer Service Management, or IT Service Management to resolve faster.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Enhanced Insights
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                Use and customize pre-built reports and dashboards to gain real-time insight into utilization, capacity, customers and locations requesting work, and other metrics.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="highlights-section">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>FSM Advantages</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/portal.svg" alt="image" width="50px">
                                <h4 class="pt-3">Portal for end-user<br>requests</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/advance-tech.svg" alt="image" width="50px">
                                <h4 class="pt-3">Engine for advanced<br>technician recommendations</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/view.svg" alt="image" width="50px">
                                <h4 class="pt-3">Views of technicians, worksites,<br>and drive time on the dispatch map</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/Asset-management.svg" alt="image" width="50px">
                                <h4 class="pt-3">Management of asset<br>and part availability</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/workspace.svg" alt="image" width="50px">
                                <h4 class="pt-3">Improved call center<br>agent workspace</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pt-5 pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>