    <div class="inner-banner">
        <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
        <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>
    
        <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
            <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                ServiceNow Services
            </h2>
            </div>
        </div>
        </div>
    </div>

    <div class="service2-section pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title text-center">
                    <span>ServiceNow Services</span>
                    <h3>Our ServiceNow Capabilities</h3>
                </div>
            </div>
            <div class="row justify-content-center g-4 pt-5">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>01</span>
                            <h4><a href="service-details.html">IT Service Management (ITSM)</a></h4>
                            <p class="para">ITSM is a set of workflows and technologies <br>that enables the development, delivery, and management of IT services to be as efficient as possible. It provides increased productivity, lowers costs, and improved end-user satisfaction. ITSM handles incidents, service requests, problems, and modifications that are usually related to an ITSM platform, such as ServiceNow.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>02</span>
                            <h4><a href="service-details.html">IT Operation Management (ITOM)</a></h4>
                            <p class="para">The ITOM platform ServiceNow improves cloud <br>utilization and reduces the organization’s expenditures. It also supports infrastructure management and the provision of services. In a single recording system, ITOM gathers and translates telemetry information throughout all your IT assets. Data are contained in the IT cloud and complicated container-based infrastructure, logs, metrics, and events. ITOM helps to enhance IT productivity, improve automated service, reduce failures, and cut development costs.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>03</span>
                            <h4><a href="service-details.html">Governance, Risk and Compliance Management (GRC)</a></h4>
                            <p class="para">GRC (Governance, Risk, and Compliance) <br>aids in the development of an integrated risk management module that responds to business risks in real-time. It aids in the integration of security and IT with a risk program that provides continuous monitoring, automation, and prioritizing. Inherent exposure to vulnerability and menaces, external laws and regulations supporting internal verification and validation, policy and compliance, which meet internal aims or targets in external legislation and regulations are applications of GRC.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>04</span>
                            <h4><a href="service-details.html">HR Service Delivery (HRSD)</a></h4>
                            <p class="para">Using intelligent workflows, you can boost <br>productivity by optimizing the employee service experience. Employees should have the correct experience no matter where they work.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="1s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>05</span>
                            <h4><a href="service-details.html">Customer Service Management (CSM)</a></h4>
                            <p class="para">Customer Service Management (CSM) is a <br>workflow or tool for delegating and tracking all interactions with clients and customers. It is a robust platform with the ability to quickly construct apps and interact with systems of record to expedite digital transformation in IT services.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="1.2s">
                        <img src="assets/images/itsm.svg" class="service21-icon" alt="image" width="50px">
                        <div class="service-content">
                            <span>06</span>
                            <h4><a href="service-details.html">Field Service Management (FSM)</a></h4>
                            <p class="para">Assisting field agents with task management, <br>status, time management, and travel planning for all field-related activities. QBrainX helps organizations match the tasks of their field agents based on the skills, assignments, inventory, and geographical territory.</p>
                            <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="highlights-section">
        <div class="container info">
            <div class="row pt-5">
                <div class="col-md-12 title text-center">
                    <span>ServiceNow Services</span>
                    <h3>Our ServiceNow Highlights</h3>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12">
                    <div class="work-process-area">
                        <div class="row g-4">
                            <div class="col-md-4 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/workflow-digital.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Workflow Digitization</h4>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/modernization.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Enterprise Modernization</h4>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/boosting.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Boosting Business Metrics</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-lg-12 mt-5 text-center brochure-info">
                    <p>QBrainX helps companies install solutions rapidly and with remarkable efficiency, without sacrificing the user experience.</p>
                    <button class="btn btn-brochure mt-3">Download Brochure</button>
                </div>
            </div>
        </div>
    </div>

    <div class="join-section pt-5 pb-100">
        <div class="container">
            <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <div class="row d-flex align-items-center g-4">
                    <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                        <h2>We're Always Looking For Talented People Our Agency.</h2>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                        <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>