.pt-50 {
    padding-top: 50px
}

.pb-50 {
    padding-bottom: 50px;
}

.blog-details {
    .blog-details-single {
        margin-bottom: 40px;

        .image {
            position: relative;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 35px;
            font-weight: 700;
            color: #18212e;
            line-height: 1.4;
            margin-bottom: 16px;
        }

        .meta {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;

            .author {
                margin-right: 25px;
                list-style: none;

                span {
                    font-size: 1rem;
                    font-weight: 400;
                    color: #bb0b0b;
                    display: inline-block;
                }
            }

            .date {
                list-style: none;
            }

            .date span {
                font-size: 1rem;
                font-weight: 400;
                color: #676767;
                display: inline-block;
            }
        }

        .content {
            .para {
                font-size: 15.5px;
                font-weight: 400;
                color: #676767;
                font-family: poppins, sans-serif;
                line-height: 28px;
            }

            .blog-details-share {
                border-bottom: 1px solid #eee;
                padding-bottom: 35px;
                padding-top: 10px;

                .social {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: start;

                    li {
                        list-style: none;
                        box-sizing: border-box;

                        a {
                            color: unset;
                            text-decoration: none;
                        }
                    }

                    i {
                        color: #676767;
                        width: 34px;
                        height: 34px;
                        line-height: 34px;
                        border: 1px solid #676767;
                        text-align: center;
                        transition: all 0.42s ease;
                        border-radius: 3px;
                    }

                    i:hover {
                        background: #bb0b0b;
                        border: 1px solid #bb0b0b;
                        color: #ffffff;
                    }
                }
            }
        }

        .content > h4 {
            font-size: 25px;
            font-weight: 700;
            line-height: 1.4;
            color: #18212e;
        }
    }

    .blog-widget-item {
        background: #fff;
        box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);
        border-radius: 5px;
        margin-bottom: 40px;
        
        .search-area {
            padding: 18px 15px;
        }

        .search-area form .search-with-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                height: 50px;
                border-radius: 5px 0 0 5px;
                width: 100%;
                border: 1px solid #eee;
                padding: 20px;
            }

            button {
                border-radius: 0 5px 5px 0;
                height: 50px;
                min-width: 60px;
                background: #bb0b0b;
                border: none;
                transition: all 0.42s ease-in-out;

                i {
                    color: #ffffff;
                }
            }
        }

        .recent-blog {
            padding: 30px 25px;

            .recent-post-list {
                margin: 0;
                padding: 0;
                list-style: none;

                .recent-post-item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .recent-post-img {
                    margin-right: 15px;

                    img {
                        transition: all 0.35s ease-in-out;
                    }
                }

                .recent-post-content h6 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #18212e;
                    transition: all 0.35s ease-in-out;
                }

                .recent-post-content h6:hover {
                    color: #bb0b0b;
                }

                .recent-post-content .meta {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    img {
                        margin-right: 8px;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 500;
                        color: #676767;
                    }
                }
            }

            .recent-post-list li {
                margin-bottom: 30px;

                a {
                    color: unset;
                    text-decoration: none;
                }
            }
        }

        .blog-widget-title {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
            margin-bottom: 20px;
        }

        .blog-category {
            padding: 30px 25px;
        }

        .blog-widget-title {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
            margin-bottom: 20px;
        }

        .category-list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 15px;

                a:hover span {
                    color: #bb0b0b;
                    padding-left: 10px;
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: unset;
                    text-decoration: none;

                    span {
                        font-size: 20px;
                        font-weight: 500;
                        color: #676767;
                        font-family: cuprum, sans-serif;
                        transition: all 0.42s ease-in-out;

                        i {
                            font-size: 1rem;
                            font-weight: 700;
                        }

                    }
                }
            }
        }

        .tag-list {
            margin: 0;
            padding: 10px 0 0;

            li {
                display: inline-flex;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #676767;
                    background: #f8f8f8;
                    padding: 8px 15px;
                    text-transform: capitalize;
                    transition: all 0.35s ease-in-out;
                    border-radius: 3px;
                    text-decoration: none;
                }
            }

            li:hover a {
                background-color: #bb0b0b;
                color: #ffffff;
            }
        }   

        .follow-area {
            padding: 30px 25px;
        }

        .blog-widget-title {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
        }

        .para {
            font-size: 15.5px;
            font-weight: 400;
            color: #676767;
            font-family: poppins, sans-serif;
            line-height: 28px;
        }
        
        .post-tag {
            padding: 30px 25px;
        }

        .follow-list {
            margin: 0;
            padding: 10px 0 0;

            li {
                list-style: none;
            }

            a {
                color: unset;
                text-decoration: none;

                i {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    border: 1px solid #eee;
                    background: #ffffff;
                    border-radius: 3px;
                    font-size: 18px;
                    color: #676767;
                    transition: all 0.35s ease-in-out;
                }
            }

            a:hover i {
                color: #ffffff;
                background-color: #bb0b0b;
            }
        }
    }
}