<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>

    <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            Customer Service Management
        </h2>
        </div>
    </div>
    </div>
</div>

<div class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>CSM Features</h3>
            </div>
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/csm-service.jpg" width="100%">
                    <h2 class="pt-3">Our Customer Service Management</h2>
                    <p class="pt-3">Customer Service Management (CSM) is a workflow or tool for delegating and tracking all interactions with clients and customers.<br><br>It is a robust platform with the ability to quickly construct apps and interact with systems of record to expedite digital transformation in IT services. Visual task assignment is a faster and easier workflow that provides an easy, graphical option to working with any ServiceNow application. The advantages of employing visual task assignments include the ability to view processes, modify the manner of working, and keep the state of the work or task up to date.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Outsources customer service
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                It makes it easier to handle situations, outsource service without sacrificing control or visibility, and keep resolutions moving ahead. The account and industry data models manage customer interactions with other entities and outsource customer service promptly, onboarding providers, and routing work from them.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Field Service Management
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                It enables employees and customers to accomplish tasks correctly in the meantime, maximizing uptime and improving efficiency. Dynamic scheduling, mobile agents, asset management, cost management, continuous improvement management, predictive intelligence, and performance analytics are all characteristics of field service management.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Service management for issue resolution
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                The advantages of using service management for issue resolution are that it reduces service disruption, speeds up root cause resolution, and speeds up service restoration. Visual task assignment is a faster and easier workflow that provides an easy, graphical option to working with any ServiceNow application.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Advanced Work Assignment
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                It enables agents to assist clients and address difficulties more quickly. The enhanced work assignment offers an automated workflow in which the best agent routes the work based on criteria or affinity with the case.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Case Management
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                It manages the cases easily and helps in the management of the interactions and SLAs employed without losing control to outsourcing services. Outsourcing allows you to provide customer assistance alongside third parties from a single platform.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Workforce optimization
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                It allows you to boost team productivity, plan for success, acquire real-time visibility, and improve work-life balance. Team schedules, performance reporting, skill management, quality evaluations, queue management, and omnichannel optimization.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading16" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-controls="collapse16">
                            Self-service
                        </h5>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16">
                            <div class="faq-body style-2">
                                It assists customers in swiftly locating issues by utilizing workflow, an AI-powered chatbot, connecting customers with specialists, and fast deploying self-service on any website. By using an engagement messenger, the effort of customer queries is reduced and increasing self-service ROI, including knowledge management, virtual agents, and service catalogs.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading17" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-controls="collapse17">
                            Proactive customer service operations
                        </h5>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17">
                            <div class="faq-body style-2">
                                It assists in detecting difficulties as soon as they occur by utilizing many analytics and machine learning techniques to detect and remedy the issue as quickly as possible. It also minimizes inbound calls, improves customer experience, boosts agent efficiency, and decreases MTTR (mean time to resolution).
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading18" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-controls="collapse18">
                            Agent Workspace
                        </h5>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18">
                            <div class="faq-body style-2">
                                Efficient use of agent workspace, address problems faster utilizing automated suggestions through machine education, proactive report big problem-based occurrences, and live insight and communication updates. The advanced job tasks, tabbed interface, automatic interaction logins, agent support, and flexible layout offer the advantages of employing agent workspace.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading19" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse19" aria-controls="collapse19">
                            Visual workflow and automation
                        </h5>
                        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19">
                            <div class="faq-body style-2">
                                It aid in the creation of end-to-end digital workflows, such as automated procedures ranging from simple to sophisticated transformation. The advantages of employing visual workflow include automated routines for everyone, faster IT development, and integration of third-party services.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading20" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse20" aria-controls="collapse20">
                            Improved Customer Service Flow
                        </h5>
                        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20">
                            <div class="faq-body style-2">
                                It gives agents the ideal experience and gives contextual information, for example, speed resolution time, to facilitate problem-solving and enhances the first contact solving through automated routing problems for suitable agents.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading21" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse21" aria-controls="collapse21">
                            Performance Analytics
                        </h5>
                        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21">
                            <div class="faq-body style-2">
                                The benefits of adopting performance analytics include prioritizing resources and driving automation or self-service to boost efficiency and save costs, allowing for better delivery experiences. Reports and Dashboards: It aids in the generation and distribution of user information, as well as the presentation of customized reports in the dashboard.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="highlights-section">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Advantages of utilizing QBrainX's CSM</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/reduce-cost.svg" alt="image" width="50px">
                                <h4 class="pt-3">It reduces driven costs by half</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/workflow-digital.svg" alt="image" width="50px">
                                <h4 class="pt-3">Automation of workflows and business rules</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/client-satisfaction.svg" alt="image" width="50px">
                                <h4 class="pt-3">Enhances client satisfaction</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/peventing.svg" alt="image" width="50px">
                                <h4 class="pt-3">Prevents consumer calls in advance</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/customer-support.svg" alt="image" width="50px">
                                <h4 class="pt-3">Surprisingly good customer support functionality</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/scalable-solution.svg" alt="image" width="50px">
                                <h4 class="pt-3">It is a very scalable solution</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pt-5 pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>