z
<div class="card banner-wrp">
                          
    <div class="card-header">
        <div class="pull-left">
            <h4 class="card-title">Reach Us</h4>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#banner-delete">
                <i class="fa fa-trash"></i>
            </button>
            <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#model-edit">
                <i class="fa fa-edit"></i></button>
        </div>
    </div>


    <div class="card-body">
        <div class="basic-form">
            <form [formGroup]="BannerForm">


                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">Country</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg"[(ngModel)]="bannerObj.Country" value="{{bannerObj.Country}}" formControlName="Country" placeholder="Country">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" [(ngModel)]="bannerObj.City" value="{{bannerObj.City}}" formControlName="City"placeholder="City">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" [(ngModel)]="bannerObj.Address" value="{{bannerObj.Address}}" formControlName="Address"placeholder="Address">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" [(ngModel)]="bannerObj.Phone" value="{{bannerObj.Phone}}" formControlName="Phone"placeholder="Phone">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" [(ngModel)]="bannerObj.Email" value="{{bannerObj.Email}}" formControlName="Email"placeholder="Email">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label col-form-label-lg">Banner image</label>
                    <div class="col-sm-10 form-file">
                        <input type="file" class="form-file-input form-control" formControlName="BannerImage" (change)="banImage($event)">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="bannerSubmit()">Add Banner</button>
                
            </form>
        </div>
    </div>
</div>
 

