.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.inner-banner {
    min-height: 400px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/../assets/images/inner-banner.png');
    background-position: bottom;
    background-size: cover;

    .inner-bannerdot {
        position: absolute;
        bottom: 10px;
        left: 20%;
        opacity: 0.9;
        animation: move 10s linear infinite alternate;
    }

    .inner-bannerwave {
        position: absolute;
        bottom: 0;
        right: 0%;
        opacity: 0.1;
    }

    .inner-banner-title {
        font-size: 55px;
        font-weight: 700;
        color: #ffffff;
    }
}

.service-section {
    .service-item1 {
        position: relative;
        width: 100%;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;

        .service-img {
            position: relative;
            z-index: 1;
            border-radius: 5px;
            overflow: hidden;

            .service-details-btn {
                position: absolute;
                right: 25px;
                top: 25px;
                border-radius: 50%;
                z-index: 1;
                border: 1px solid #ffffff;
                padding: 5px;
                transition: all 0.35s ease-in;
                height: 36px;
                width: 36px;
                line-height: 24px;
            }
        }

        .service-img::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(10, 18, 15, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            border-radius: 5px;
            transition: all 0.55s ease-in-out;
        }

        .service-img img {
            width: 100%;
            max-width: 420px;
            transition: all 0.7s ease;
            border-radius: 5px 5px 0 0;
        }

        .service-content {
            position: relative;
            width: 94%;
            padding: 25px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            z-index: 9;
            box-shadow: 5px 1px 15px rgb(0 0 0 / 6%);
            border-radius: 10px;
            background: #ffff;
            transition: all 0.55s ease-in-out;
            margin-top: -50px;
            border: 1px solid #ffff;

            .service-icon {
                width: 100%;
                max-width: 100px;
                height: 100px;
                line-height: 100px;
                margin: -75px auto 25px;
                background: #fff;
                border: 1px solid #fff;
                border-radius: 50%;
                box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);
                text-align: center;
                transition: all 0.55s ease-in-out;
            }

            p {
                margin-bottom: 0;
            }

            h4 a {
                font-size: 25px;
                font-weight: 700;
                line-height: 1.4;
                transition: all 0.42s ease-in-out;
                color: #212529;
                text-decoration: none;
            }

            .para {
                font-size: 15.5px;
                font-weight: 400;
                color: #676767;
                font-family: poppins, sans-serif;
                line-height: 28px;
            }
        }
    }

    .service-item1:hover .service-details-btn {
        background-color: #bb0b0b;
        border: 1px solid transparent;
    }

    .service-item1:hover .service-content h4 a {
        color: #ffffff;
    }

    .service-item1:hover .service-content {
        border: 1px solid #bb0b0b;
        background-color: #bb0b0b;
        color: #ffffff;
    }

    .service-item1:hover .service-content p {
        color: #ffffff;
    }

    .service-item1:hover .service-content .service-icon {
        border: 1px solid #bb0b0b;
    }
}

.why-us-section {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .section-title {
        text-align: center;
        margin-bottom: 60px;

        h3 {
            font-size: 2.8125rem;
            font-weight: 700;
            color: #18212e;
            margin-bottom: 15px;
        }
    }

    .section-title.primary1 span {
        color: #bb0b0b;
    }    

    .service-item2.style-4 {
        background: #fff;
        box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);
        border-radius: 5px;
        padding: 40px 25px 25px;
        margin-top: 25px;
        height: 210px;

        span {
            position: absolute;
            top: 22px;
            left: 15px;
            font-size: 22px;
            font-weight: 600;
            color: #676767;
            display: inline-block;
            transition: all 0.5s ease-in-out;
            border-radius: 5px;
            background-color: #eee;
            padding: 5px 10px;
            margin-top: -45px;
        }

        .service-content h4 {
            margin-bottom: 5px;
        }
    }

    .service-item2.style-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #bb0b0b;
        border-radius: 0;
        right: 0;
        z-index: -1;
    }

    .service-item2::before {
        right:0;
        z-index: -1;
        transition: 550ms ease-in-out 25ms;
    }

    .service-item2.style-4:hover::before {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .service-item2.style-4:hover span {
        color: #bb0b0b;
    }

    .service-item2 {
        position: relative;
        z-index: 1;

        .service-content h4 a {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
            transition: all 0.5s ease-in-out;
            text-decoration: none;
        }

        .service-content p {
            transition: all 0.5s ease-in-out;
            margin-bottom: 0;
        }

        .service-content .para {
            font-size: 15.5px;
            font-weight: 400;
            color: #676767;
            font-family: poppins, sans-serif;
            line-height: 28px;
        }
    }

    .service-item2:hover .service-content h4 a {
        font-size: 25px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .service-item2:hover .service-content p {
        color: #ffffff;
    }
    
}

.join-section {
    overflow: hidden;
    position: relative;
}

.joinus-area {
    background-image: url('/../assets/images/joinus-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 1, 12, 0.8);
    background-blend-mode: multiply;
    min-height: 290px;
    padding: 80px 7%;
    border-radius: 5px;
    min-width: 100%;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: cuprum, sans-serif;
        color: #ffffff;
        line-height: 1.5;
    }

    .joinus-btn.btn--primary::before {
        width: 100%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 0%;
        background: #00caeb;
        transition: all 0.52s;
        z-index: -1;
        border-radius: 5px;
    }

    .joinus-btn.btn--primary::after {
        width: 100%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 0%;
        background: #bb0b0b;
        transition: all 0.52s;
        z-index: -1;
        border-radius: 5px;
    }

    .eg-btn {
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        transition: all 0.4s ease;
        text-transform: capitalize;
    }

    .btn--primary:hover {
        color: #ffffff;
    }

    .btn--primary {
        background: #0A1C76;
        position: relative;
        z-index: 1;
        white-space: nowrap;
    }

    .joinus-btn {
        padding: 14px 45px;
        font-size: 18px;
        font-weight: 600;
        font-family: poppins, sans-serif;
        color: #ffffff;
        text-decoration: none;
    }
}