<div class="inner-banner">
  <img
    src="assets/images/inner-bannerdot.png"
    class="inner-bannerdot"
    alt="image"
  />
  <img
    src="assets/images/inner-bannerwave.png"
    class="inner-bannerwave"
    alt="image"
  />

  <div class="container">
    <div
      class="row d-flex justify-content-center align-items-center text-center"
    >
      <div class="col-md-6">
        <h2
          class="inner-banner-title wow fadeInLeft"
          data-wow-duration="1.5s"
          data-wow-delay=".2s"
        >
          Our Core Services
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="service-section pt-100" id="service">
  <div class="container">
    <div class="row justify-content-center g-4">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item1 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.2s"
        >
          <div class="service-img">
            <a href="service-details.html" class="service-details-btn"
              ><img src="assets/images/arrow.svg" alt="image"
            /></a>
            <img alt="image" src="assets/images/service11.png" />
            <div class="overlay"></div>
          </div>
          <div class="service-content">
            <div class="service-icon">
              <img src="assets/images/service-icon51.svg" alt="image" />
            </div>
            <h4><a href="service-details.html">ServiceNow </a></h4>
            <p class="para">Customizable Workflows for Modern Applications.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item1 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.4s"
        >
          <div class="service-img">
            <a href="service-details.html" class="service-details-btn"
              ><img src="assets/images/arrow.svg" alt="image"
            /></a>
            <img alt="image" src="assets/images/service12.png" />
            <div class="overlay"></div>
          </div>
          <div class="service-content">
            <div class="service-icon">
              <img src="assets/images/service-icon53.svg" alt="image" />
            </div>
            <h4>
              <a href="service-details.html">Digital Transformation Services</a>
            </h4>
            <p class="para">
              Improve your business outcomes by using Digital Accelerators.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item1 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.6s"
        >
          <div class="service-img">
            <a href="service-details.html" class="service-details-btn"
              ><img src="assets/images/arrow.svg" alt="image"
            /></a>
            <img alt="image" src="assets/images/service13.png" />
            <div class="overlay"></div>
          </div>
          <div class="service-content">
            <div class="service-icon">
              <img src="assets/images/service-icon55.svg" alt="image" />
            </div>
            <h4><a href="service-details.html">Salesforce</a></h4>
            <p class="para">
              Comprehensive collection of Salesforce professional services.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item1 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.8s"
        >
          <div class="service-img">
            <a href="service-details.html" class="service-details-btn"
              ><img src="assets/images/arrow.svg" alt="image"
            /></a>
            <img alt="image" src="assets/images/service12.png" />
            <div class="overlay"></div>
          </div>
          <div class="service-content">
            <div class="service-icon">
              <img src="assets/images/service-icon52.svg" alt="image" />
            </div>
            <h4><a href="service-details.html">Big Data Solutions</a></h4>
            <p class="para">
              A Comprehensive tool-kit for creating data pipelines.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item1 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.2s"
        >
          <div class="service-img">
            <a href="service-details.html" class="service-details-btn"
              ><img src="assets/images/arrow.svg" alt="image"
            /></a>
            <img alt="image" src="assets/images/service11.png" />
            <div class="overlay"></div>
          </div>
          <div class="service-content">
            <div class="service-icon">
              <img src="assets/images/service-icon54.svg" alt="image" />
            </div>
            <h4>
              <a href="service-details.html">Scala Application Development</a>
            </h4>
            <p class="para">
              Utilize our Scala expertise to market a ground breaking end
              product.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-10">
    <div class="service-item1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
    <div class="service-img">
    <a href="service-details.html" class="service-details-btn"><img src="assets/images/icons/arrow.svg" alt="image"></a>
    <img alt="image" src="assets/images/bg/service13.png">
    <div class="overlay"></div>
    </div>
    <div class="service-content">
    <div class="service-icon">
    <img src="assets/images/icons/content-writing.svg" alt="image">
    </div>
    <h4><a href="service-details.html">Content Writing</a></h4>
    <p class="para">Get the most of reduction in your team’s operating costs for the whole product</p>
    </div>
    </div>
    </div> -->
    </div>
  </div>
</div>

<div class="why-us-section pt-100 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-title primary1">
          <span>-WHY CHOOSE US-</span>
          <h3>Our Capabilities</h3>
          <!-- <p class="para">Get the most of reduction in your team’s operating costs for the whole product which creates amazing UI/UX experiences.</p> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center g-4">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.2s"
        >
          <div class="service-content">
            <span class="sn">01</span>
            <h4><a href="service-details.html">Skillset</a></h4>
            <p class="para">
              We’re a team of many skillset experts to deliver a complete
              solution.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.4s"
        >
          <div class="service-content">
            <span class="sn">02</span>
            <h4><a href="service-details.html">Hybrid Environments</a></h4>
            <p class="para">
              Our team of certified cloud security experts will evaluate the
              security posture and put in place safeguards.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.8s"
        >
          <div class="service-content">
            <span class="sn">04</span>
            <h4><a href="service-details.html">End-to-End Support</a></h4>
            <p class="para">
              We have specialized teams for each stage of the software
              application lifecycle.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="0.6s"
        >
          <div class="service-content">
            <span class="sn">03</span>
            <h4>
              <a href="service-details.html">Improved Branding & Business</a>
            </h4>
            <p class="para">
              Our designs, created to increase brand recall, work just as well
              for businesses as they do for end users.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="1s"
        >
          <div class="service-content">
            <span>05</span>
            <h4><a href="service-details.html">Proactive Approach to QA</a></h4>
            <p class="para">
              QA process must be planned and implemented in stages, with
              appropriate testing methods incorporated at each stage.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div
          class="service-item2 style-4 wow animate__animated animate__fadeInDown"
          data-wow-duration="1.5s"
          data-wow-delay="1.2s"
        >
          <div class="service-content">
            <span>06</span>
            <h4><a href="service-details.html">Performance</a></h4>
            <p class="para">
              We can fine-tune the software by assessing its scalability and
              reliability with analysis-based optimization at each stage of
              iterative development.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="join-section pb-100">
  <div class="container">
    <div
      class="joinus-area d-flex align-items-center wow fadeInUp"
      data-wow-duration="1.5s"
      data-wow-delay="0.2s"
    >
      <div class="row d-flex align-items-center g-4">
        <div
          class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center"
        >
          <h2>Explore opportunities at QBrainX</h2>
        </div>
        <div
          class="col-lg-5 d-flex justify-content-lg-end justify-content-center"
        >
          <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn"
            >Join Us</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
