<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>

    <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            IT Service Management
        </h2>
        </div>
    </div>
    </div>
</div>

<div class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>ITSM Features</h3>
            </div>
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/itsm-service.jpg" width="100%">
                    <h2 class="pt-3">Our IT Service Management</h2>
                    <p class="pt-3">ITSM is a set of workflows and technologies that enables the development, delivery, and management of IT services to be as efficient as possible. It provides increased productivity, lowers costs, and improved end-user satisfaction. ITSM handles incidents, service requests, problems, and modifications that are usually related to an ITSM platform, such as Service Now.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Service Catalog
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                Monitoring service obligations performance and prioritizing, reallocating, and expanding activities.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Incident Management
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                Restore services and rapidly fix problems. It boosts employee productivity, restores services, and increases incident deflection.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Password Reset
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                End users can reset their passwords, modify their passwords and unlock actions via discussions between Virtual Agent.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Asset Management
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                Gain essential asset management capacities for infrastructure, operations, and field services supervision. Make use of investment in the asset life cycle to improve IT services and make intelligent decisions.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Field Service Management
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                By streamlining field service management, organizations can streamline workforce operations, boost efficiency and simplify everyday life—not only for on-the-job personnel but also for the bureau’s administrative personnel.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Release Management
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                It aids in conflict resolution, concurrent change management, risk assessment, and calculation, and maintaining a single system or record.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading16" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-controls="collapse16">
                            Problem Management
                        </h5>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16">
                            <div class="faq-body style-2">
                                Finding and even resolving the most challenging problems, reducing the impact of unforeseen disruptions, and even preventing difficulties. By employing problem management, minimize disruptions, eliminate incidents, and speed up the resolution of the root cause.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading17" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-controls="collapse17">
                            Change Management
                        </h5>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17">
                            <div class="faq-body style-2">
                                Using built-in AI, simplify, automate, and speed complicated change processes, reduce failure and expenses. The advantages of implementing change management include increased skill and accuracy, organizational integration, and increased change velocity.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading18" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-controls="collapse18">
                            CMDB
                        </h5>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18">
                            <div class="faq-body style-2">
                                The ServiceNow database that stores information about all technical services is known as the CMDB. It contains service name and description, approvers for modifications and service responsibilities as well as other closely connected information on support services.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="highlights-section">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Advantages of our ITSM</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/dashboard.svg" alt="image" width="50px">
                                <h4 class="pt-3">Dashboards &<br>benchmarks in real-time</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/setup-guidance.svg" alt="image" width="50px">
                                <h4 class="pt-3">Setup with guidance</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/configuration.svg" alt="image" width="50px">
                                <h4 class="pt-3">Configuration without a code</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/single-record.svg" alt="image" width="50px">
                                <h4 class="pt-3">A single record-keeping system</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/cloud.svg" alt="image" width="50px">
                                <h4 class="pt-3">Cloud computing and security<br>at the enterprise level</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/mobile-application.svg" alt="image" width="50px">
                                <h4 class="pt-3">Inherently mobile apps</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pt-5 pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>