<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>

    <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            Salesforce
        </h2>
        </div>
    </div>
    </div>
</div>

<div class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Salesforce Services</h3>
            </div>
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/itsm-service.jpg" width="100%">
                    <h2 class="pt-3">QBrainX Salesforce</h2>
                    <p class="pt-3">QBrainX offers a comprehensive collection of Salesforce professional services to help you implement your CRM strategy with the right tools and assist businesses in improving their sales, marketing, and customer service processes.<br><br>QBrainX provides high-quality custom development services to assist you in resolving business issues and enhancing your Salesforce program with highly customized solutions. With years of experience in Salesforce customizations and Salesforce experts, we are one of the best technological partners you can work with.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Salesforce Consulting
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                QBrainX's experienced consultants can address your specific CRM concerns, such as low sales productivity and poor departmental alignment, as well as CRM performance issues, and help you maximize your Salesforce's potential.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Salesforce Implementation
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                Build a foundation of automated business processes that are frictionless and consistent, end-user-friendly solutions, and a systematic approach to solution delivery with our Salesforce implementation professionals.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Salesforce Integration
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                Salesforce integration services strive to integrate Salesforce solutions to your other business-critical platforms smoothly and with QBrainX’s experts, you can overcome any integration challenges and develop cost-effective Salesforce integrations.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Salesforce Development and Customization
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                QBrainX assists organizations in Salesforce customization and application development to achieve their objectives. We use Visualforce, Lightning, Apex, and other tools to help you create custom modules, processes, add-ons, and applications for Salesforce.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Salesforce Migration
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                By enlisting the support of QBrainX Salesforce migration services, you can streamline and improve your business processes while also making the time-consuming task of Salesforce CRM migration more efficient.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Salesforce Managed Services
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                QBrainX’s Salesforce Managed Services provides a flexible, scalable, and cost-effective approach to protect and maximize your investment without having to hire additional full-time, dedicated employees. We assist businesses in maintaining and evolving Salesforce systems to meet their specific business requirements.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="highlights-section">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Key Benefits of our on-demand model</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/dashboard.svg" alt="image" width="50px">
                                <h4 class="pt-3">Agile and Flexible solution</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/setup-guidance.svg" alt="image" width="50px">
                                <h4 class="pt-3">Certified Salesforce developers and admins</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/configuration.svg" alt="image" width="50px">
                                <h4 class="pt-3">Expertise in CRM development</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/single-record.svg" alt="image" width="50px">
                                <h4 class="pt-3">Rapid delivery</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/cloud.svg" alt="image" width="50px">
                                <h4 class="pt-3">Aggressive pricing</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/mobile-application.svg" alt="image" width="50px">
                                <h4 class="pt-3">Proficient and Skilled developers</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pt-5 pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>