<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container d-flex align-items-center justify-content-between">

      <a routerLink="" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img class="normal-logo" src="assets/images/QBrainX-trademark-logo-Original-hashtag-01.png" alt="logo">
      </a>

      <nav id="navbar" class="navbar col-md-8">
        <ul>

          <li class="dropdown megamenu"><a routerLink="services"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li>
                <a routerLink="servicenow" class="title">ServiceNow</a>
                <a routerLink="itsm">IT Service Management</a>
                <a routerLink="itom">IT Operation Management</a>
                <a routerLink="csm">Customer Service Management</a>
                <a routerLink="fsm">Field Service Management</a>
                <a routerLink="hrsd">HR Service Delivery</a>
                <a routerLink="grc">Governance Risk & Complaince Management</a>
              </li>
              <li>
                <a routerLink="#" class="title">Digital Transformation</a>
                <a routerLink="microservice">Microservice Architecture</a>
              </li>
              <li>
                <a routerLink="#" class="title">IT Consulting & Services</a>
                <a routerLink="salesforce" class="title">Salesforce</a>
                <a routerLink="#" class="title">Data Solution</a>
                <a routerLink="sap" class="title">SAP</a>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a routerLink="#">Case Studies</a></li>
              <li><a routerLink="success-stories">Success Stories</a></li>
              <li><a routerLink="webinar">Webinars</a></li>
            </ul>
          </li>
          
          <li class="dropdown"><a href="about"><span>About</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a routerLink="leadership">Leadership</a></li>
              <li><a routerLink="#">Our Culture</a></li>
              <li><a routerLink="news">QNews</a></li>
              <li><a routerLink="career">Careers</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" routerLink="blog">Blog</a></li>
          <li><a class="nav-link scrollto" routerLink="contact">Contact us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" routerLink="index.html#about">Let's Talk</a>

    </div>
  </header><!-- End Header -->