.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.inner-banner {
    min-height: 400px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/../assets/images/inner-banner.png');
    background-position: bottom;
    background-size: cover;

    .inner-bannerdot {
        position: absolute;
        bottom: 10px;
        left: 20%;
        opacity: 0.9;
        animation: move 10s linear infinite alternate;
    }

    .inner-bannerwave {
        position: absolute;
        bottom: 0;
        right: 0%;
        opacity: 0.1;
    }

    .inner-banner-title {
        font-size: 55px;
        font-weight: 700;
        color: #ffffff;
    }
}

.storie-standard {
    .storie-standard-single {
        margin-bottom: 40px;

        h3 {
            font-size: 35px;
            font-weight: 700;
            color: #18212e;
            line-height: 1.4;
            margin-bottom: 16px;
        }

        .image {
            position: relative;
            margin-bottom: 30px;

            img {
                border-radius: 5px;
            }

            .img-fluid {
                max-width: 100%;
                height: auto;
            }
        }

        .content {
            .para {
                font-size: 15.5px;
                font-weight: 400;
                color: #676767;
                font-family: poppins, sans-serif;
                line-height: 28px;
            }
        }

        .bottom-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            position: relative;
            padding-bottom: 40px;

            .storie-btn a {
                min-width: 170px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid #bb0b0b;
                border-radius: 5px;
                cursor: pointer;
                color: #18212e;
                font-size: 1rem;
                font-weight: 600;
                display: block;
                padding: 0 30px;
                transition: all 0.5s ease-in-out;
                text-decoration: none;
            }
        }

        .bottom-area .storie-btn a:hover {
            background: #bb0b0b;
            color: #ffffff;
            border: 1px solid #bb0b0b;
        }

        .bottom-area::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-radius: 30px;
            background: #eee;
        }

        .bottom-area::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 30px;
            height: 3px;
            background: #979797;
            border-radius: 1.5px 0 0 1.5px;
        }

        .bottom-area .storie-share .front span {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            color: #18212e;
            display: inline-block;
            margin-bottom: 0;
            margin-left: 5px;
        }
    }

    .pagination-wrap {
        margin-top: 50px;

        .pagination {
            margin: 0;
            list-style: none;
        }

        .page-item:first-child .page-link {
            border-radius: 5px 5px 5px 0;
        }

        .page-item:not(:first-child) .page-link {
            margin-left: -1px;
        }

        .page-link:hover {
            color: #bb0b0b;
            // background-color: #bb0b0b;
        } 

        .page-link:hover svg {
            fill: #bb0b0b;
        }

        .page-link {
            position: relative;
            display: block;
            color: #18212e;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            background-color: #ffffff;
            // border: 1px solid #eee;
            border: none;
            transition: 0.42s ease;
        }    

        .page-item.active .page-link {
            z-index: 3;
            color: #ffffff;
            background-color: #bb0b0b;
        }    

    }

    .storie-widget-item {
        background: #fff;
        box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);
        border-radius: 5px;
        margin-bottom: 40px;

        .search-area {
            padding: 18px 15px;
        }

        .search-area form .search-with-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-area form .search-with-btn input {
            height: 50px;
            border-radius: 5px 0 0 5px;
            width: 100%;
            border: 1px solid #eee;
            padding: 20px;
        }

        .search-area form .search-with-btn button {
            border-radius: 0 5px 5px 0;
            height: 50px;
            min-width: 60px;
            background: #bb0b0b;
            border: none;
            transition: all 0.42s ease-in-out;
        }

        .search-area form .search-with-btn button i {
            color: #ffffff;
        }

        .recent-storie {
            padding: 30px 25px;
        }

        .storie-widget-title {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
            margin-bottom: 20px;
        }

        .storie-widget-body {
            .recent-post-list {
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 30px;

                    a {
                        color: unset;
                        text-decoration: none;
                    }
                }

                .recent-post-item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .recent-post-img {
                    margin-right: 15px;

                    img {
                        transition: all 0.35s ease-in-out;
                    }
                }

                .recent-post-content h6 {
                    font-size: 18px;
                    font-weight: 600;
                    color: #18212e;
                    transition: all 0.35s ease-in-out;
                }

                .recent-post-content .meta {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .recent-post-content .meta img {
                    margin-right: 8px;
                }

                .recent-post-content .meta p {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: #676767;
                }

                .recent-post-content h6:hover {
                    color: #bb0b0b;
                }
            }

            ul {
                list-style: none;
            }
        }
    }
}

// Responsive CSS Start
@media screen and (max-width: 991px) {
    .inner-banner {
        min-height: 370px;
    }    
}

