<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image"/>
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image"/>

    <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            HR Service Delivery
        </h2>
        </div>
    </div>
    </div>
</div>

<div class="faq-section pt-100 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>HRSD Features</h3>
            </div>
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/hrsd-service.jpg" width="100%">
                    <h2 class="pt-3">Our HR Service Delivery</h2>
                    <p class="pt-3">Using intelligent workflows, you can boost productivity by optimizing the employee service experience.<br><br>Employees should have the correct experience no matter where they work. The advantages of employing the QBrainX Intelligence Predictive include rapid and smart working, fast delivery and refining of AI, improving customer efficiency and satisfaction, and decreasing resolution times and manual errors.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Employee Service Center
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                Provide your employees with a single point of contact for information and services that span the organization and encompass functions such as HR, IT, and workplace services. Using the Employee Service Center has the advantages of increasing employee experiences, reducing caseloads and requests, and facilitating communication.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Intelligence Predictive
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                Enhance your operations by machine learning, which allows staff to focus on more significant work. Automate and solve problems quicker routine chores. The advantages of employing the QBrainX Intelligence Predictive include rapid and smart working, fast delivery and refining of AI, improving customer efficiency, decreasing resolution times and manual errors.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Management of employee documents
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                QBrianX’s Employee Document Management easily manages paperless staff files and establishes retention rules to support corporate and law laws. Improve productivity and compliance with built-in automated file removal aid and legal retention and enhance safety and secrecy by setting document access rights that make file recovery feasible.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Case and Knowledge Management
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                It enables you to uniformly document and handles employee queries and requests, enhancing business efficiency and providing your staff with a better service experience.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Employee Service
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                It is used to build complete workflows which connect the company with different processes and siloed systems. Assist managers in becoming more productive, and assist employees along their professional paths.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Onboarding and transitions
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                Providing wonderful experiences for employees through important events and increasing productivity. Enhance the employee experience, design for the moments that matter, increase enterprise-wide productivity and flexible workflows.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading16" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-controls="collapse16">
                            Analytical Performance
                        </h5>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16">
                            <div class="faq-body style-2">
                                Monitoring the performance of services before service improvement and service bottlenecks, prioritizing resources, maximizing automation and self-service, and continuously guiding service improvement.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="highlights-section">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>The benefits of adopting the HRSD system of QBrainX</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/increase-productivity.svg" alt="image" width="50px">
                                <h4 class="pt-3">Improve Productivity and Engagement</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/allow-productivity.svg" alt="image" width="50px">
                                <h4 class="pt-3">Allow for productivity from any location</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/optimized-service-delivery.svg" alt="image" width="50px">
                                <h4 class="pt-3">Optimized service delivery</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/simplyfy-access.svg" alt="image" width="50px">
                                <h4 class="pt-3">Simplify Service Access</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pt-5 pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>